{% extends 'base/base.html' %}

{% load static %}

{% block title %}Python Pro - Home{% endblock title %}

{% block body %}
    <div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron">
				<h2>
					Curso de Python com Luciano Ramalho
				</h2>
				<p>
					Confira em breve mais informaçoes sobre o curso que será ministrado pelo autor do livro
                    <a href="http://shop.oreilly.com/product/0636920032519.do" target="_blank" >Python Fluente</a>
				</p>
                <h4 class="mt-4">Matriculas Abertas! Custo R$ 800,00</h4>
                <!-- INICIO DO BOTAO PAGSEGURO -->
                <a href="javascript:void(0)" onclick="PagSeguroLightbox('41B988DF5D5DC23EE41CFF8FF01D00D8'); return false;">
                    <img src="//assets.pagseguro.com.br/ps-integration-assets/botoes/pagamentos/205x30-pagar.gif" alt="Pague com PagSeguro - é rápido, grátis e seguro!" /></a>
                <script type="text/javascript" src="https://stc.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.lightbox.js"></script>
                <!-- FIM DO BOTAO PAGSEGURO -->
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<h5 class="card-header">
							Mais detalhes sobre o instrutor
						</h5>
						<div class="card-body">
							<p class="card-text">
								<img src="{% static 'img/luciano-ramalho.png' %}" alt="Foto de Luciano Ramalho"
                                     class="img-thumbnail float-left mr-3"/>
                                Luciano Ramalho é programador Python desde 1998, Fellow da Python Software Foundation;
                                é sócio do Python.pro.br – uma empresa de treinamento – e cofundador do Garoa Hacker Clube,
                                o primeiro hackerspace do Brasil. Tem liderado equipes de desenvolvimento de software
                                e ministrado cursos sobre Python em empresas de mídia, bancos e para o governo federal.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock body %}